In [1]:
import warnings; warnings.filterwarnings('ignore')

In [2]:
import numpy as np

In [3]:
from rbc.heavydb import RemoteHeavyDB

In [4]:
# NBVAL_IGNORE_OUTPUT
heavydb = RemoteHeavyDB(user='admin', password='HyperInteractive',
                        host='127.0.0.1', port=6274)

In [5]:
SQL=lambda query: np.array(list(heavydb.sql_execute(query)[1]), dtype=object)

In [6]:
SQL('DROP TABLE IF EXISTS mytable')
SQL('CREATE TABLE IF NOT EXISTS mytable (i INT[]);');
for i in range(5):
    SQL('INSERT INTO mytable VALUES (ARRAY[1,2,3,'+str(i)+'])');
list(SQL('SELECT * FROM mytable')[1])

[array([1, 2, 3, 1], dtype=object)]

In [7]:
@heavydb('i32(i32[])')
def sum_i32(x):
    s = 0
    for i in range(len(x)):
        s += x[i]
    return s

In [8]:
SQL('SELECT i, sum_i32(i) FROM mytable')

array([[list([1, 2, 3, 0]), 6],
       [list([1, 2, 3, 1]), 7],
       [list([1, 2, 3, 2]), 8],
       [list([1, 2, 3, 3]), 9],
       [list([1, 2, 3, 4]), 10]], dtype=object)

In [9]:
# NBVAL_IGNORE_OUTPUT
print(sum_i32)

sum_i32['i32(i32[])']